{% extends "base.html" %}

{% block title %}
    Dodaj film
{% endblock%}

{% block content %}
    <form method="post">
        {% csrf_token %}

        {{form.title.errors }}
        <div class="form-group">
            {{ from.title.errors }}
            <label for="{{ form.title.id_for_label }}"></label>
                {{ form.title }}
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <table>
            {{ form }}
        </table>
        <input type="submit" value="Wyślij" class="btn btn-primary">
    </form>
{% endblock %}